article__wrapper > div {
  margin-top: 20px;
}
.article__text {
  text-align: left;
  font-size: 25px;
}

.articles__item {
  margin-bottom: 30px;
}
.article-img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
.article__title {
  font-size: 20px;
}
.article__wrapper {
  background-color: #D3D3D3;
  padding: 20px 40px;
  margin-top: 20px;
  text-align: center;
}
.article__footer {
  text-align: left;
  padding-top: 10px;
}
.article__footer > .btn {
  border-color: #F5F5F5;
}
.btn_succes:hover {
  background-color: #00FA9A;
  transition: background-color 1s ease-in;
}
.btn_error:hover {
  background-color: #FF0000;
  transition: background-color 1s ease-in;
}

* {
  padding: 0;
  margin: 0;
}
.content__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  background-color: #F5F5F5;
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
}
.btn:hover {
  cursor: pointer;
}
.form__area {
  margin-top: 20px;
}
.area {
  width: 250px;
  height: 50px;
  padding: 10px;
}

.content__form {
  margin-top: 200px;
  border: 2px solid black;
  padding: 30px 40px;
  background-color: #F5F5F5;
}
.form__title {
  font-size: 40px;
  text-align: center;
}
.form__label {
  margin-top: 20px;
}
.label {
  color: #000;
  font-size: 20px;
}
.form__input {
  margin-top: 15px;
}
.input {
  padding: 10px 30px;
  background-color: #fff;
}
.form__button {
  margin-top: 20px;
  text-align: center;
}
.form__message {
  margin-top: 20px;
  font-size: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}
.header {
  background-color: #F5F5F5;
}
.header__wrapper {
  display: flex;
  justify-content: space-around;
}
.header__left {
  display: flex;
  justify-content: none;
}
.header__title {
  margin-top: 30px;
  font-size: 40px;
}
.menu__items {
  display: flex;
  justify-content: none;
  margin-top: 30px;
}
.menu__item {
  list-style: none;
  margin-left: 20px;
  font-size: 25px;
}
.menu__item:hover {
  cursor: pointer;
}


.cardts__item {
  margin-top: 30px;
  padding: 50px 300px;
  background-color: #D3D3D3;
}
.person__item {
  font-size: 20px;
  margin-top: 15px;
}
.article__wrapper>div{
  margin-top: 20px;
}
